header{
    background-image: linear-gradient(to bottom, #50555400, #50555400, #50555400, #212522), url(../images/beach.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    nav{
        .container-fluid{
            .row{
                #menu{
                    .collapse{
                        .autres{
                            .dropdown{
                                    .dropdown-menu{
                                        .dropdown-item:hover{
                                            background-color: lighten(#212529, 15%);
                                        }
                                    }
                                }
                        }
                    }
                }
            }
        }
    }
    article{
        height: 70vh;
        #compass{
            font-size: 5rem;
        }
        .project{
            text-shadow: 4px 2px 5px #212522;
        }
        .technos{
            #html{
                color: white;
                &:hover{
                    color: red;
                }
            }
            #css{
                color: white;
                &:hover{
                    color: #2b64e9;
                }
            }
            #sass{
                color: white;
                &:hover{
                    color: #C76395;
                }
            }
            #javascript{
                color: white;
                &:hover{
                    color: #EFD81D;
                }
            }
            a{
                .icone{
                    font-size: 2.5rem;
                }
            }
        }
        .row{
            #playButton{
                #project-button{
                    background: white;
                    &:hover{
                        background: darken(white, 15%);
                    }
                }
            }
        }
    }
}