@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50555400), color-stop(#50555400), color-stop(#50555400), to(#212522)), url(../images/beach.jpg);
  background-image: linear-gradient(to bottom, #50555400, #50555400, #50555400, #212522), url(../images/beach.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

header nav .container-fluid .row #menu .collapse .autres .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #434b53;
}

header article {
  height: 70vh;
}

header article #compass {
  font-size: 5rem;
}

header article .project {
  text-shadow: 4px 2px 5px #212522;
}

header article .technos #html {
  color: white;
}

header article .technos #html:hover {
  color: red;
}

header article .technos #css {
  color: white;
}

header article .technos #css:hover {
  color: #2b64e9;
}

header article .technos #sass {
  color: white;
}

header article .technos #sass:hover {
  color: #C76395;
}

header article .technos #javascript {
  color: white;
}

header article .technos #javascript:hover {
  color: #EFD81D;
}

header article .technos a .icone {
  font-size: 2.5rem;
}

header article .row #playButton #project-button {
  background: white;
}

header article .row #playButton #project-button:hover {
  background: #d9d9d9;
}

section .row .col-lg-2 {
  text-decoration: none;
}

section .row .col-lg-2 .card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .row .col-lg-2 .card:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 15;
}

section .row .col-lg-2 .card:hover .card-body {
  display: block;
}

section .row .col-lg-2 .card .card-image {
  height: 20vh;
}

section .row .col-lg-2 .card .card-image i {
  font-size: 5rem;
}

section .row .col-lg-2 .card .card-body {
  display: none;
}

#competences .row .col-lg-2 #HTML-card .card-image {
  background: #DD4B25;
}

#competences .row .col-lg-2 #CSS-card .card-image {
  background: #2b64e9;
}

#competences .row .col-lg-2 #SASS-card .card-image {
  background: #C76395;
}

#competences .row .col-lg-2 #javascript-card .card-image {
  background: #E8D44D;
}

#competences .row .col-lg-2 #bootstrap-card .card-image {
  background: #732FF9;
}

#competences .row .col-lg-2 #git-card .card-image {
  background: #383f45;
}

#future-competences .row .col-lg-2 #wordpress-card .card-image {
  background: #1D88B8;
}

#future-competences .row .col-lg-2 #vue-card .card-image {
  background: #4FC08D;
}

#future-competences .row .col-lg-2 #php-card .card-image {
  background: #7377AD;
}

#future-competences .row .col-lg-2 #symfony-card .card-image {
  background: #383f45;
}

.modal .modal-dialog .modal-content .modal-footer #modalButton, .modal .modal-dialog .modal-content .modal-footer #closeModale {
  background: #C71A1B;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */